{% extends "base.html" %} {% load static %} {% block content %}
<!-- About-->
<section class="about-section text-center" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row">
      <div class="col-sm-5" style="padding-right: 30px">
        <img
          width="100%"
          class="img-responsive"
          src="{% static 'assets/img/councellor.jpg' %}" alt="picture of councellor"
          />
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6">
            <div class="text-white-50">
              <div class="social d-flex justify-content-center">
                <h2>>  <i class="fas fa-hand-holding-heart"></i></h2>
              </div>
            </div>
            <p class="text-white-50">
              Hello, My name is Mike Wilkins and i am passionate about
              counselling and helping people to overcome any difficulties they
              may be having. I strongly believe that given the right conditions
              one can make significant changes in their lives. I offer a safe,
              non-judgemental and confidential environment where we can explore
              together any difficulties you may be experiencing.
            </p>
          </div>
          <div class="col-sm-6">
            <div class="text-white-50">
              <div class="social d-flex justify-content-center">
                <h2>>  <i class="fas fa-graduation-cap"></i></h2>
              </div>
            </div>
            <p class="text-white-50">
              I have a BA Joint Honours degree in English literature, Sociology
              and Psychology. I have followed the CPCAB route to qualification
              by completing Level 2 in Counselling Skills, Level 3 in
              Counselling Studies and the Level 4 Diploma in Therapeutic
              Counselling. I also have an online diploma in e-counselling
              (online counselling)
            </p>
          </div>
        </div>
        <a class="btn btn-primary" href="{% url 'add_appointment' %}"
          >Book An Appointment</a
        >
      </div>
    </div>
  </div>
  <br />
</section>
{% endblock %}
