{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="table-responsive-sm">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Logged in User</th>
                        <th scope="col">Appointment id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Appointment date and time </th>
                        <th scope="col">Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Edit Appointment</th>
                        <th scope="col">Delete Appointment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
        
                    <tr>
                        <th scope="row"></th>
                        <td>{{ user.username }}</td>
                        <td>{{ appointment.id }}</td>
                        <td>{{ appointment.name }}</td>
                        <td>{{ appointment.appointment_date_and_time }}</td>
                        <td>{{ appointment.phone_number }}</td>
                        <td>{{ appointment.email}}</td>
                        <td>
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl"
                                    href="/edit/{{ appointment.id }}">Edit
                                    Appointment</a></div>
                        </td>
                        <td>
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-danger btn-xl"
                                    href="/delete/{{ appointment.id }}">Delete Appointment</a></div>
                        </td>
                    </tr>
        
                </tbody>
                {% endfor %}
                {% csrf_token %}
            </table>
        </div>
        
    </div>
</section>


{% endblock content %}